.footer {
  font-family: "Red Hat Display", sans-serif;
  width: 100%;
  padding: 2rem 0rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: rgb(51, 50, 50);

  user-select: none;
}

.copyright {
  align-items: center;
  text-align: center;
}
